.card {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	padding: 10px 25px;
	margin: 10px;
	max-width: 300px;
	border-radius: 5px;
	text-align: left;
}

.card > h2 {
	color: rgb(81, 84, 238);
	margin-bottom: 0px;
	font-size: 1em;
}

.card > p {
	margin-top: 10px;
	font-size: 1em;
}
